.box{background:#eeeeee;}
.yzb-d-all{width:1000px;margin:0 auto;}

.yzb-d-t{width:1000px;height:260px;margin-top:10px;}
.yzb-d-tl{float:left;width:650px;height:260px;background:#ffffff;}
.yzb-d-tlt{width:650px;height:70px;background:#fafafa;border-bottom:1px solid #EEEEEE;}
.yzb-d-tlttxt1o{padding:20px 0 0 30px;}
.yzb-d-tlttxt1{float:left;display:block;background:#f08383;height:30px;line-height:30px;padding:0 7px;border-bottom-left-radius:5px;border-top-left-radius:5px;color:#FFFFFF;font-size:16px;}
.yzb-d-tlttxt2{float:left;display:block;background:#e94e4e;height:30px;line-height:30px;padding:0 7px;border-bottom-right-radius:5px;border-top-right-radius:5px;color:#FFFFFF;font-size:16px;}
.ar{font-family:arial;}
.fl{float:left;}
.fr{float:right;}
.yzb-d-tlttxt3o{float:left;padding-left:10px;font-size:16px;color:#6d6261;line-height:30px;}
.yzb-d-tlttxt4o{float:left;font-size:14px;color:#6d6261;line-height:30px;padding-left:70px;}
.yzb-d-tlttxt4o i{margin-right:5px;vertical-align:middle;display:inline-block;*display:inline;*zoom:1;width:13px;height:16px;background:url(../img/ppb-icon1.png) no-repeat;}
.yzb-d-tlb{}
.yzb-d-tlb1{float:left;width:210px;padding-left:30px;padding-top:38px;}
.yzb-d-tlb2{float:left;width:180px;padding-top:65px;}
.yzb-d-tlb3{float:left;width:225px;padding-top:65px;}
.yzb-d-tlbtxt1{color:#e94e4e;font-size:30px;font-family:arial;height:60px;}
.yzb-d-tlbtxt1 span{font-size:60px;}
.yzb-d-tlbtxt2{font-size:14px;color:#6d6261;padding-top:5px;}
.yzb-d-tlbtxt3{font-size:16px;color:#3a3433;}
.yzb-d-tlbtxt3 span{font-family:arial;font-size:30px;}
.yzb-d-tr{float:right;width:340px;height:260px;background:#ffffff;position:relative;}
.yzb-d-trt{width:340px;height:70px;background:#fafafa;border-bottom:1px solid #EEEEEE;}
.yzb-d-trtxt1{font-size:14px;color:#6d6261;line-height:70px;padding-left:30px;}
.yzb-d-trtxt1 a{color:#e94e4e;}
.yzb-d-trtxt2{font-size:14px;color:#6d6261;line-height:60px;padding-left:30px;}
.yzb-d-input1{position:absolute;left:0px;border-radius:3px;outline:medium;font-family:arial;width:185px;height:32px;line-height:32px;padding-left:5px;border:2px solid #c8cdcc;}
.yzb-d-input1:focus{border:2px solid #e94e4e;}
.yzb-d-input1o{margin-left:30px;position:relative;height:36px;}
.yzb-d-trtxt3{font-size:14px;color:#3a3433;position:absolute;top:10px;left:165px;}
.yzb-d-yeqt-btn{position:absolute;right:30px;font-size:14px;text-decoration:none;width:80px;height:36px;border-radius:3px;background:#b3adad;color:#fafafa;text-align:center;line-height:36px;display:inline-block;*display:inline;*zoom:1;}
.yzb-d-buy-btno{margin-left:30px;margin-top:20px;}
.yzb-d-buy-btn{text-decoration:none;color:#b3adad;font-size:14px;text-align:center;line-height:36px;width:280px;height:36px;background:#eeeeee;border-radius:3px;display:block;}

.yesl-buy .yzb-d-input1{border:2px solid #e94e4e;}


/*预售中*/
.yzb-d-presale-btn{cursor:default;display:none;text-decoration:none;color:#ffffff;font-size:14px;text-align:center;line-height:36px;width:280px;height:36px;background:#b3adad;border-radius:3px;}
.yesl-presale .yzb-d-buy-btn{display:none;}
.yesl-presale .yzb-d-presale-btn{display:block;}

/*已登录购买 */
.yesl-buy .yzb-d-trtxt1{display:none;}
.yzb-d-trtxt1-2{display:none;font-size:14px;color:#6d6261;line-height:70px;padding-left:30px;}
.yesl-buy .yzb-d-trtxt1-2{display:block;}
.yzb-d-trtxt1-2 span{padding:0 5px;}
.yzb-d-trtxt1-2 a{font-size:14px;color:#ff9630;text-decoration:none;}
.yzb-d-cz-btn{margin-left:10px;}
.yesl-buy .yzb-d-yeqt-btn{background:#e94e4e;}
.yesl-buy .yzb-d-yeqt-btn:hover{background:#ec6868;}
.ins-amount{display:none;padding-left:30px;padding-top:5px;font-size:14px;color:#e94e4e;}
.ins-amounto .ins-amount{display:block;}
.already-input .yzb-d-buy-btn{background:#e94e4e;color:#FFFFFF;}
.already-input .yzb-d-buy-btn:hover{background:#ec6868;}
/*未登录收益中*/
.nol-syzo .nol-buy{display:none;}
.nol-syz{position:relative;display:none;}
.yzb-d-qgl-icon{display:block;width:126px;height:111px;background:url(../img/ppb-qgl-icon.png) no-repeat;position:absolute;right:0;top:0;}
.nol-syztxt{padding-right:115px;padding-top:95px;text-align:center;}
.nol-syztxt1{font-size:14px;color:#6d6261;}
.nol-syztxt2{font-size:14px;color:#6d6261;padding-top:25px;}
.nol-syztxt2 a{color:#e94e4e;}
.nol-syzo .nol-syz{display:block;}
.nol-syztxt1 span,.nol-syztxt2 span{color:#3a3433;}

/*登录收益中*/
.yesl-syzo .nol-syztxt2,.yesl-syzo .nol-buy{display:none;}
.nol-syztxt3 span{color:#3a3433;}
.nol-syztxt3{display:none;font-size:14px;color:#6d6261;padding-top:25px;}
.yesl-syzo .nol-syz,.yesl-syzo .nol-syztxt3{display:block;}
.yzb-d-txt1{line-height:43px;padding-top:10px;}
.yzb-d-txt1 .ar{color:#3a3433;font-size:30px;}
/*未登录还款已结束*/
.nol-hkjs,.nol-hkjso .nol-buy{display:none;}
.nol-hkjso .nol-hkjs{display:block;}
.yzb-d-yhk-icon{display:block;width:126px;height:111px;background:url(../img/ppb-yhk-icon.png) no-repeat;position:absolute;right:0;top:0;}
.yesl-hkjso .nol-syztxt{padding-left:30px;padding-top:95px;text-align:left;}
/*登录还款已结束*/
.yesl-hkjso .nol-buy,.yesl-hkjso .nol-syztxt2{display:none;}
.yesl-hkjso .nol-hkjs,.yesl-hkjso .nol-syztxt3{display:block;}

/*票票宝产品、介绍、问题 切换*/
.yzb-d-b{width:1000px;height:auto;margin-top:10px;background:#fafafa;}
.yzb-d-bt{width:1000px;height:53px;border-bottom:1px solid #eeeeee;}
.yzb-d-bt li{list-style:none;}
.pro-inf1{position:relative;width:940px;height:235px;border:1px solid #EEEEEE;margin:30px auto;background:#FFFFFF;}
.yzb-d-bt li{float:left;width:250px;text-align:center;font-size:16px;color:#b3adad;line-height:53px;}
.yzb-d-bt a{color:#b3adad;font-size:16px;text-decoration:none;}
.yzb-d-bqh i{display: block;margin:-2px auto;width: 95px;height: 2px;background: #e94e4e;}
.yzb-d-bqh a{color:#e94e4e;}
.pro-inf1i{margin:0 12px;float:left;text-align:center;font-size:14px;color:#3a3433;}
.yzb-d-cpicon1{width:60px;height:60px;display:inline-block;*display:inline;*zoom:1;background:url(../img/ppb-cpicon1.png) no-repeat;}
.yzb-d-cpicon2{width:60px;height:60px;display:inline-block;*display:inline;*zoom:1;background:url(../img/ppb-cpicon2.png) no-repeat;}
.yzb-d-cpicon3{width:60px;height:60px;display:inline-block;*display:inline;*zoom:1;background:url(../img/ppb-cpicon3.png) no-repeat;}
.yzb-d-cpicon4{width:60px;height:60px;display:inline-block;*display:inline;*zoom:1;background:url(../img/ppb-cpicon4.png) no-repeat;}
.pro-inf1i2{float:left;text-align:center;font-size:14px;color:#3a3433;}
.yzb-d-cpline1{width:153px;height:17px;display:inline-block;*display:inline;*zoom:1;background:url(../img/ppb-cpline1.png) no-repeat;}
.pro-inf1all{overflow:hidden;width:815px;margin:35px auto 10px auto;}
.pro-inf1all2{width:815px;margin:0 auto;}
.pro-inf1i3{float:left;text-align:center;font-size:14px;color:#3a3433;}
.yzb-d-table1{width:940px;margin:0 auto;}
table.yzb-d-table1{border:1px solid #e6e6e6;border-collapse:collapse;font-size:14px;color:#42464e;text-align: center;}
table.yzb-d-table1 tr,table.yzb-d-table1 td{border:1px solid #e6e6e6;}
.m-c-czxztable1{height:34px;background:#fafafa;}
.m-c-czxztable2{background:#ffffff;height:51px;}
.pro-inf2{padding-bottom:30px;}
.yzb-d-tbgray{background:#fcfcfc;width:160px;font-size:14px;color:#6d6261;line-height:55px;}
.yzb-d-tbgray2{background:#fcfcfc;width:160px;font-size:14px;color:#6d6261;line-height:180px;}
.yzb-d-tbwit{padding-left:50px;text-align:left;background:#FFFFFF;color:#3a3433;font-size:14px;line-height:55px;}
.yzb-d-tbwit2{padding-left:50px;line-height:30px;text-align:left;background:#FFFFFF;color:#3a3433;font-size:14px;}
.pro-int1{width:1000px;height:305px;background:#FFFFFF;}
.pro-inttxt1{font-size:20px;color:#3a3433;text-align:center;display:block;padding-top:70px;}
.pro-inttxt2{line-height:30px;font-size:14px;color:#6d6261;padding-top:50px;width:700px;margin:0 auto;}
.pro-int2{width:1000px;height:511px;background:#fafafa;}
.pro-int2i{overflow:hidden;margin-top:50px;}
.pro-int2i1{line-height:30px;font-size:14px;color:#6d6261;width:333px;float:left;text-align:center;}
.yzb-d-jsicon1{width:110px;height:110px;background:url(../img/ppb-jsicon1.png) no-repeat;display:inline-block;*display:inline;*zoom:1;}
.pro-inttxt3{font-size:20px;color:#3a3433;}
.yzb-d-jsicon2{width:110px;height:110px;background:url(../img/ppb-jsicon2.png) no-repeat;display:inline-block;*display:inline;*zoom:1;}
.yzb-d-jsicon3{width:110px;height:110px;background:url(../img/yzb-jsicon3.png) no-repeat;display:inline-block;*display:inline;*zoom:1;}
.pro-int3{width:1000px;height:511px;background:#FFFFFF;}
.pro-int3i{padding:70px 0;}
.com-proq{line-height:30px;color:#6d6261;font-size:14px;text-indent:-1.5em;}
.com-proa{line-height:30px;color:#b3adad;font-size:14px;text-indent:-1.5em;}
.com-proi{padding-bottom:70px;width:695px;margin:0 auto;}
.com-proqa{padding-top:50px;}
/*弹窗*/
.yzb-d-mask{width:100%;display: none;height: 100%;position: fixed;_position: absolute;background: #1a1a1a;filter: alpha(opacity=65);-moz-opacity:0.65;opacity:0.65;z-index: 100;top: 0;}

.yzb-d-ddclosebtn{display:block;float:right;width:21px;height:21px;background:url(../img/ppb-closeicon.png) no-repeat;}
.yzb-d-ddclosebtno{padding:8px;}

/*下拉列表*/
select{display: none;}
.select_box1{background:#ffffff;border:1px solid #c8cdcc;font-size:16px;color:#6d6261;width:160px;line-height:28px;float:right;}
.select_showbox1{/*overflow: hidden;*/height:28px;line-height:28px;padding-left:5px;background:url(../img/ppb-selecticon.png) no-repeat right;}
.select_option1{border-top: none;border:1px solid #c8cdcc;display: none;position:absolute;width:160px;background:#ffffff;left:317px;}
.select_option1 li{border-bottom:1px solid #c8cdcc;padding-left: 5px;list-style: none;/*height:32px;*/line-height:32px;color:#3a3433;}
.select_option1 li:last-child{border:0;}
.select_option1 li.selected{background-color: #F3F3F3;color:#919b9a;}
.select_option1 li.hover{background: #e6e6e6; color:#919b9a;}
.select_option1 .yzb-d-op-gray{color:#b3adad;}

.yzb-d-bmall li{list-style:none;}
.pro-line1{width:1px;height:94px;background:#b3adad;display:block;position:absolute;left:450px;top:62px;}
.zr-icon{width:20px;height:20px;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;background:url(../img/zr-icon.png) no-repeat;}
.zr-icono{position:absolute;left:393px;bottom:37px;color:#6d6261;font-size:14px;}
.pro-line2{width:110px;height:1px;background:#b3adad;display:block;position:absolute;left:496px;bottom:45px;}
.pro-txt1{color:#6d6261;font-size:14px;position:absolute;left:616px;bottom:40px;}
.pra-arrow{width:53px;height:33px;background:url(../img/pro-arrow.png) no-repeat;position:absolute;bottom:45px;right:124px;display:block;}

.pro-inf2-gz{padding:30px 0;}
.bg-wit{background:#FFFFFF;}
.pro-inf1all-b{overflow:hidden;width:815px;margin:35px auto 0px auto;}
.pro-inf1all-c{padding-left:43px;padding-bottom:60px;}
.yzb-d-cpline1-b{width:153px;height:17px;margin-top:28px;display:inline-block;*display:inline;*zoom:1;background:url(../img/ppb-cpline1.png) no-repeat;}

.yzb-d-cpicon{width:60px;height:60px;display:inline-block;*display:inline;*zoom:1;}
.yzb-d-icon1{background:url(../img/yzb-d-icon1.png) no-repeat;}
.yzb-d-icon2{background:url(../img/yzb-d-icon2.png) no-repeat;}
.yzb-d-icon3{background:url(../img/yzb-d-icon3.png) no-repeat;}
.yzb-d-icon4{background:url(../img/yzb-d-icon4.png) no-repeat;}
.yzb-d-txt2{color:#b3adad;font-size:14px;}
.yzb-d-txt2 span{font-size:18px;color:#3a3433;margin-right:10px;text-align:left;}
.yzb-d-table1 .bg-wit .yzb-d-txt2{text-align:left;padding-left:53px;padding-top:25px;}

.yzb-d-tbwit-b{padding-left:50px;text-align:left;background:#FFFFFF;color:#3a3433;font-size:14px;}
.yzb-d-rule{color:#e94e4e;}
/*余额不足*/
.yzb-d-tc{display:none;position:fixed;z-index:101;top:135px;left:50%;margin-left:-244px;width:488px;height:393px;background:#ffffff;border:6px solid #b3adad;}
.ppb-ddtxt1{width:488px;height:40px;background:#eeeeee;line-height:40px;font-size:16px;color:#3a3433;}
.ppb-ddtxt1 p{padding-left:10px;}
.ppb-ddclosebtn{display:block;float:right;width:21px;height:21px;background:url(../img/ppb-closeicon.png) no-repeat;}
.ppb-ddclosebtno{padding:8px;}
.no-enougho .no-enough,.no-enougho .yzb-d-mask{display:block;}
.yzb-d-txt3{text-align:center;color:#e94e4e;font-size:20px;padding-top:79px;}
.yzb-d-txt4{text-align:center;color:#6d6261;font-size:16px;padding-top:30px;}
.yzb-d-tc-b{background:#f8f6f3;width:100%;height:125px;position:absolute;bottom:0;}
.yzb-d-tc-btn{display:block;text-decoration:none;width:140px;height:45px;line-height:45px;background:#e94e4e;color:#FFFFFF;font-size:16px;text-align:center;}
.yzb-d-tc-btno{margin:0 auto;width:140px;padding-top:40px;}
.yzb-d-tc-btn:hover{background:#ec6868;}
/*售罄*/
.yzb-d-Soldo .yzb-d-Sold,.yzb-d-Soldo .yzb-d-mask{display:block;}
.yzb-d-txt3a{text-align:center;color:#6d6261;font-size:16px;padding-top:79px;}
/*失败*/
.yzb-d-failo .yzb-d-fail,.yzb-d-failo .yzb-d-mask{display:block;}
/*成功*/
.yzb-d-suco .yzb-d-suc,.yzb-d-suco .yzb-d-mask{display:block;}
.yzb-d-suco .yzb-d-suc{width:668px;height:493px;margin-left:-334px;}
.yzb-d-suco .ppb-ddtxt1{width:668px;}
.inv-restxt5i{width:405px;overflow:hidden;margin:40px auto;}
.inv-restxt5-1{color:#b3adad;float:left;}
.inv-restxt5-2o{float:left;margin-left:36px;}
.inv-restxt5-2{color:#6d6261;}
.yzb-d-suco .yzb-d-tc-b{height:105px;}
.yzb-d-txt4a{text-align:center;color:#6d6261;font-size:20px;padding-top:30px;}
.yzb-d-txt4a .ar{color:#e94e4e;}
.yzb-d-txt4b{text-align:center;color:#b3adad;font-size:16px;padding-top:30px;}
.yzb-d-txt4c{text-align:center;color:#b3adad;font-size:16px;padding-top:58px;}
/*在新页面打开*/
.yzb-d-onewo .yzb-d-onew,.yzb-d-onewo .yzb-d-mask{display:block;}
.yzb-d-onewo .yzb-d-onew{width:668px;height:410px;margin-left:-334px;}
.yzb-d-onewo .ppb-ddtxt1{width:668px;}
.yzb-d-onewo .yzb-d-tc-b{height:105px;}
.yzb-d-txt5{text-align:center;font-size:16px;color:#3a3433;line-height:30px;padding-top:75px;}
.yzb-d-txt5a{text-align:center;font-size:14px;color:#6d6261;line-height:30px;}
.yzb-d-txt5b{padding-top:45px;text-align:center;font-size:14px;color:#6d6261;line-height:30px;}
.yzb-d-txt5b a{color:#3a3433;}
.yzb-d-txt7{color:#6d6261;font-size:14px;float:left;}
.inv-restxt5ia{width:475px;overflow:hidden;margin:25px auto 20px auto;}
.inv-restxt5ib{width:475px;overflow:hidden;padding-left:95px;}
/*规则*/
.yzb-d-ruleso .yzb-d-rules,.yzb-d-ruleso .yzb-d-mask{display:block;}
.yzb-d-ruleso .yzb-d-rules{margin-left:-334px;width:668px;height:565px;}
.yzb-d-ruleso .ppb-ddtxt1{width:668px;}
.yzb-d-ruleso .yzb-d-tc-b{height:178px;}
.yzb-d-txt6 p{padding-top:35px;color:#6d6261;font-size:16px;}
.yzb-d-txt6{padding-left:126px;}
.yzb-d-txt6a{color:#e94e4e;font-size:16px;padding-left:126px;padding-top:35px;}
.yzb-d-txt6b{color:#b3adad;font-size:14px;line-height:26px;padding-left:126px;padding-top:46px;}
